@using cmArt.LibIntegrations.ClientControllerService
@using cmArt.Portal.Data.InventoryData
@using cmArt.Reece.ShopifyConnector
@using cmArt.Reece.ShopifyConnector.Data



<h3>WebInventoryDetails</h3>

@code {

}
